.verde{
    background-color: #28A745;
}
.l-blanca{
    color: #fff;
}
.ancho{
    width: 100px;
}
.l-verde{
    color: #28A745;
}
body{
    font-family: 'Roboto', sans-serif;
}
.fw{
    font-weight: 300;
}